div.cell { 
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border:solid 4px red;
    font-size: 35px;
    color: blue;
}

#turn_player {
    margin-top: 15px;
    width: 316px;
    height: 50px;
    border: 4px solid red;
    text-align: center;
    color: red;
    font-size: 30;
}
#turn {
   color: blue;
   font-size: 45; 
   display: inline-block;
}
